body, html{
  margin:0;
  padding:0;
}

main{
  background-image: linear-gradient(to bottom right, hsl(219, 23%, 55%), hsl(201, 13%, 90%));
  background-size: cover;
  width: 100%;
  height: 40rem;


}
#name-plate{
  margin-bottom: -8px;
  padding: 1px;
  background-color: hsla(0, 0%, 93%, 0.795);
  padding-left: 41px;
  font-family: 'Adamina', serif;
  color: rgb(70, 70, 70);
}
nav{
  height: 3rem;
  background-color:hsl(201, 13%, 90%);
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 62px;
}
.nav-button{
  height: 100%;
  width: 20%;
  background-color: hsl(201, 13%, 90%);
  color: rgb(70, 70, 70);
  font-size: 1.2rem ;
  border-style: none;
  font-family: 'Adamina', serif;
  border-right: solid;
  border-left: solid;
  border-width: 1px;
  margin-left: -5px;
}
.nav-button:hover{
  background-color: hsl(210, 6%, 75%);
  border-width: 2px;
}
#main-page-profile-pic{
  object-fit: cover;
  width: 25rem;
  height: 25rem;
  border-radius: 200px;
  margin-top: 2rem;
}

#profile-pic-container{
  display: flex;
  justify-content: center;
}