body, html{
  margin:0;
  padding:0;
}

main{
  background-image: linear-gradient(to bottom right, hsl(219, 23%, 55%), hsl(201, 13%, 90%));
  background-size: cover;
  width: 100%;
}

#name-plate{
  margin-bottom: -8px;
  padding: 1px;
  background-color: hsla(0, 0%, 93%, 0.795);
  padding-left: 41px;
  font-family: 'Adamina', serif;
  color: rgb(70, 70, 70);
}

nav{
  height: 3rem;
  background-color:hsl(201, 13%, 90%);
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
}

.nav-button{
  height: 100%;
  width: 20%;
  background-color: hsl(201, 13%, 90%);
  color: rgb(70, 70, 70);
  font-size: 1.2rem ;
  border-style: none;
  font-family: 'Adamina', serif;
  border-right: solid;
  border-left: solid;
  border-width: 1px;
}

.nav-button:hover{
  background-color: hsl(210, 6%, 75%);
  border-width: 2px;
}

#main-page-profile-pic{
  object-fit: cover;
  width: 25rem;
  height: 25rem;
  border-radius: 200px;
  margin-top: 2rem;
}

#profile-pic-container{
  display: flex;
  justify-content: center;
}

#bio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3{
  font-family: 'Adamina', serif;
  font-size: 2.6rem;
  color: rgb(70, 70, 70);
}

p{
  margin: 90px;
  margin-top: 10px;
  font-family: 'Adamina', serif;
  color: rgb(70, 70, 70);
  font-size: 1.1rem;
  text-align: center;
}

.icon:hover{
  opacity: 40%;
}

#footer-text{
  font-size: 1rem;
}